body{
    font-family: 'Cantarell', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: cornflowerblue;
    display: flex;
    flex-grow: 1;
}
#entrypoint{
    display: flex;
    flex-grow: 1;
}

#app{
    display: flex;
    flex-grow: 1;
}